
/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Black-1: #000; 
    --Black-2: #1d1d1d; 
    --Black-3: #282828;
    --Error: #eb5757; 
    --Gray-1: #333;
    --Gray-2: #4f4f4f;
    --Gray-3: #828282;
    --Gray-4: #bdbdbd;
    --Gray-5: #ededed;
    --Green: #27ae6d;
    --info: #2f8ded;
    --primary: #00A1BF;
    --primary2: #1a6f8c;
    --white: #fff;
    --Warning: #e2b93b;

    --Family1: "Montserrat";
    --Family2: "Poppins";
    --Family3: "Lexend";
    --Family4: "Inter";
    --Family5: "Geist";
    --Family6: "Manrope";
    --Family7: "Roboto";

    --Font-size1: 20px;
    --Font-size2: 18px;
    --Font-size3: 16px;
    --Font-size4: 14px;
    --Font-size5: 40px;
    --Font-size6: 35px;
    --Font-size7: 50px;
    --Font-size8: 30px;
    --Font-size10: 22px;
    --Font-size11: 70px;
    --Font-size12: 28px;

    --Line-height1: 28px;
    --Line-height2: 25.2px;
    --Line-height3: 22.4px;
    --Line-height4: 19.6px;
    --Line-height5: 45px;
    --Line-height6: 65px;
}

header {
    font-weight: bolder;
    font-size: var(--Font-size6);
}
#nav{
    padding: 5px 20px 20px 30px !important;
}
/* #logo-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
} */

.d-flex .btn{
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--white);
    font-size: var(--Font-size1);
    font-weight: 700;
    margin-left: 1rem;
    background-color: var(--primary);
}

.navbar-toggler:hover{
    border: none;
    /* background-color: yellow; */
}

header nav  {
    padding: 10px 40px !important;
    background-color: var(--white) !important;
    color: var(--Black-3);
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#nav img{
    margin-right: 5px !important;
    /* width: 60px;
    height: 90px; */
}
section{
    display: block;
    font-family: var(--Family1);
}
#tablet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.25rem 12.5rem;
    background-color: #fbfdfd;
}
#h1{
    font-size: var(--Font-size7);
    font-weight: bolder;
    line-height: var(--Line-height6);
    margin-top: 2rem;
    /* width: 80%; */
}
#tablet-content span, #choose{
    color: var(--primary);
}
#tablet-image img{
    margin: 4rem 0 0 0;
    width: 300px;
    height: 500px;
}
#p{
    font-size: var(--Font-size10);
    font-weight: 600;
    line-height: var(--Line-height2);
    /* width: 80%; */
    margin-bottom: 0 !important;
}
#tablet-content {
    text-align: left;         
}
#tablet-content .btn{
    border-radius: 10px;
    padding: 17px 80px;
    color: var(--white);
    font-size: var(--Font-size1);
    font-weight: 700;
    margin-bottom: 2rem;
    background-color: var(--primary);
}
#tablet-content .btn:hover{
    background-color: var(--primary2);
    /* border: none; */
    transition-duration: 0.3s;
}
a{
    text-decoration: none;
}
#socials-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}
#socials{
    width: 220px;
    height: 70px;
    object-fit: fill;
}
#partners{
    background-color: var(--white);
    display: flex;
    gap: 100px;
    padding: 20px 10px ;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 25px;
    margin: 1rem auto 0 auto ; /* Adjust as needed for overlap effect */
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    border: 1px solid var(--Gray-5);
    z-index: 2;
    position: relative;
    /* background-color: red; */
}
#peace-mass{
    height: 50px;
}
#guo-logo, #gigm-logo, #chisco-logo{
    height: 100px;
}
#why-choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12.5rem ;
    background-color: #fbfdfd;
    margin-top: -140px;
}
#why{
    font-size: var(--Font-size7);
    font-weight: bolder;
    line-height: var(--Line-height6);
    margin-top: 14rem;
}
#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 2rem 0;
}
.card{
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem; 
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    border: 1px solid var(--Gray-5);
    width: fit-content;
}
.card img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
#cards-h1{
    font-size: var(--Font-size10);
    font-weight: 700;
    line-height: var(--Line-height2);
    text-align: center;
    margin-bottom: 1rem;
}
#cards-p{
    font-size: var(--Font-size2);
    font-weight: 500;
    line-height: var(--Line-height3);
    color: var(--Gray-3);
    text-align: left;
    
}
#cards-p span{
    color: var(--Black-1);
    font-size: 700;
}

@media (min-width: 640px) and (max-width: 1024px) {
    
    #d-flex {
        display: flex;
        flex-direction: column !important;
        justify-content: center!important;
        align-items: center;
    }
    .d-flex .btn{
        padding: 5px 10px;
        font-size: var(--Font-size3);
    }
    #nav img{
        margin-right: 5px !important;
        width: 120px;
        height: 50px;
    }
    .navbar-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    header nav  {
        padding: 20px 30px !important;
    }
    header nav div a {
        font-weight: 700 !important;
        font-size: var(--Font-size1) !important;
        color: var(--Black-3);
    }
    #tablet{
        padding: 20px 80px;
    }
    #h1{
        font-size: var(--Font-size12);
        font-weight: bolder;
        line-height: var(--Line-height5);
        /* width: 80%; */
    }
    #tablet-image img{
        margin: 5rem 0 0 0;
        width: 300px;
        height: 450px;
    }
    #p{
        font-size: var(--Font-size4);
        font-weight: 600;
        line-height: var(--Line-height2);
        /* width: 80%; */
        margin-bottom: 0 !important;
    }
    #tablet-content {
        text-align: left;         
    }
    #tablet-content .btn{
        border-radius: 10px;
        padding: 20px 80px;
        font-size: var(--Font-size4);
        font-weight: 700;
        margin-bottom: 2rem;
        
    }
     #socials-container {
        justify-content: left;
    }
    #socials{
        width: 190px;
        height: 60px;
    }
    #partners{
        gap: 10px;
        padding: 10px ;
        padding: 10px 30px;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: -50px ; /* Adjust as needed for overlap effect */
        z-index: 2;
        position: relative;
       
    }
   
    #peace-mass{
        height: 50px;
    }
    #guo-logo, #gigm-logo, #chisco-logo{
        height: 100px;
    }
    #why-choose-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 12.5rem ;
        background-color: #fbfdfd;
        margin-top: -102px;
    }
    #why{
        font-size: var(--Font-size12);
        font-weight: bolder;
        line-height: var(--Line-height5);
        margin-top: 11rem;
    }
    #cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 2rem 0;
    }
    .card{
        width: 220px;
    }
    .card img{
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
    #cards-h1{
        font-size: var(--Font-size3);
        text-align: center;
    }
    #cards-p{
        text-align: left;
        font-size: var(--Font-size4);
    }
    #cards-p span{
        font-weight: 700;
    }

}


@media (max-width: 639px) {
    
    header {
        font-weight: bold;
    }
    #logo-container{
        display: flex;
        flex-direction: row;
        align-items: baseline
    }
    .navbar-brand{
        font-size: var(--Font-size1);
        margin-left: 0 !important;
    }
    #nav img{
        margin-right: 5px !important;
        width: 90px;
        height: 37px;
    }
    .collapse.navbar-collapse {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: var(--white); /* Optional: for visibility */
        text-align: center;
        margin: 0 auto;
        position: absolute; left: 0; 
        top: 60px;
    }
    .navbar-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .d-flex .btn{
        display: none;
    }
    
    header nav  {
        padding: 10px 0 !important;
    }
    header nav div a {
        font-weight: 700 !important;
        font-size: var(--Font-size3) !important;
        color: var(--Black-3);
    }
    #tablet{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    #h1{
        font-size: var(--Font-size1);
        font-weight: bolder;
        line-height: var(--Line-height1);
        text-align: center;
        /* width: 80%; */
    }
    #tablet-image img{
        display: block;
        margin: 3rem auto 2rem auto;
        width: 200px;
        height: 220px;
        object-fit: cover;
        object-position: top;
    }
    #p{
        font-size: var(--Font-size3);
        font-weight: 600;
        line-height: var(--Line-height2);
        text-align: center;
        /* width: 80%; */
        margin-bottom: 0 !important;
    }
    #tablet-content {
        text-align: center;         
    }
    #tablet-content .btn{
        border-radius: 10px;
        padding: 10px 40px;
        font-size: var(--Font-size2);
        font-weight: 500;
        display: inline-block;
        margin: 0 auto 1rem auto;
        
    }
    #socials-container {
        justify-content: center;
    }
    #socials{
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin: 0 auto;
    }
    #partners{
       display: none;
       
    }
    #why-choose-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: #fbfdfd;
        margin-top: 0;
    }
    #why{
        font-size: var(--Font-size1);
        font-weight: bolder;
        line-height: var(--Line-height1);
        margin-top: 2rem;
    }
    #cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 1rem 0;
        width: 80%;
        align-items: center;
    }
    .card{
        width: 320px;
        padding: 1rem 2rem;
    }
    .card img{
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
    #cards-h1{
        font-size: var(--Font-size2);
        text-align: center;
    }
    #cards-p{
        text-align: center;
        font-size: var(--Font-size3);
    }
    #cards-p span{
        font-weight: 700;
    }


}
